/* everywhere else */
@font-face {
    font-family: 'Glyphicons Halflings';
    src: url('./bootstrap/font/glyphicons-halflings-regular.eot');
    src: url('./bootstrap/font/glyphicons-halflings-regular?#iefix') format('embedded-opentype'),
         url('./bootstrap/font/glyphicons-halflings-regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    -moz-font-feature-settings: "calt=0,liga=0";
}

/*
Copyright 2016 Google Inc. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://angular.io/license
*/
