<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <handlers>
            <remove name="PHP via FastCGI" />
            <add name="PHP via FastCGI" path="*.php" verb="*" modules="FastCgiModule" scriptProcessor="D:\php722\php-cgi.exe" resourceType="File" requireAccess="Script" />
        </handlers>
        <directoryBrowse enabled="true" />
    </system.webServer>
    <system.net>
        <mailSettings>
            <smtp>
                <network defaultCredentials="true" host="aspmx.l.google.com" />
            </smtp>
        </mailSettings>
    </system.net>
</configuration>
